.newMember_contener {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.newMemberForm {
  padding: 20px;
  width: 500px;
  height: 400px;
  background: #318ce7;
  border-radius: 10px;
  box-shadow: blue 0 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newMemberText {
  color: blue;
  font-size: 25px;
  margin-bottom: 20px;
}
.newMemberName {
  margin-top: 10px;
  color: #cdeddf;
}
.memberName-input {
  margin: 5px 0 10px;
  border-radius: 5px;
  border: none;
}

.AddMember {
  text-decoration: none;
  width: 50px;
  height: 30px;
  background: blue;
  border-radius: 5px;
  box-shadow: red 0 0 10px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}
