.proj{
    
height: 100px;
    width:800px;
    border: greenyellow solid 2px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-size:cover;
    padding: 10px;
    flex-wrap: wrap;
    
}