.project{
   
   
        margin: 10px;
        text-decoration: none;
        width: 60px;
        height: 50px;
        border: greenyellow solid 4px;
        font-size: 12px;
        border-radius: 5px;
        background: rgb(217, 248, 170);
        display: flex;
        justify-content: center;
        align-items: center;
        color: green;
        box-shadow: red 0 0 10px;
      }


