.add {
    
  text-decoration: none;
  margin: 10px;
  width: 100px;
  height: 40px;
  background: blue;
  border-radius: 5px;
  box-shadow: rgb(255, 47, 161) 0 0 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 12px;
  top: 30px;
}
  