.add {
    height: 50px;
    width: 250px;
    border-radius: 50px;
    background-color: rgb(95, 116, 160);
    border: 1px;
    font-size:20px;
    box-shadow: 5px 5px 5px rgba(84, 54, 190, 0.541);
    margin: 40px;
  }
  