.menu{
    position: absolute;
  width: 150px;
  height: 80px;
  border: grey solid 2px;
  background: white;
  border-radius: 5px;
  box-shadow: gray 0 0 10px;
  top: 30px;
  right: 0;
  z-index: 10;
}