.tasks{
    
        width: 70px;
      height: 50px;
      font-size: 14px;
      background: blueviolet;
      border-radius: 5px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: red 0 0 5px;
      }

